
/* Mobile */
@media (max-width: 700px) {
  .balance_header {
    padding: 30px;
    align-items: center;
    width: 100%;
    display: flex;
    position: fixed;
    background: black;
    justify-content: space-between;
    z-index: 999999999;
  }
  
  .balance_btn{
    width: 70px;
    height: 70px;
    text-align: center;
    background: white;
    border-radius: 25px;
  }

  ul.scroll {
    overflow: scroll;
  }
  
  .scroll_btns{
    display: flex;
    flex-direction: row;
    margin-top: 770px;
    margin: 10px;
    align-items: center;
    justify-content: center;
  }

  .crypto_bnt{
    text-align: center;
    padding: 20px;
  }

  .nft_cards{
    margin-bottom: 10px;
    animation: fadeInFromBelow ease-in-out 1.55s 1 forwards;
    cursor: pointer;
  }
  
  .nft_card{
    width: 98%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    border-radius: 30px 30px 10px 10px;
  }
  .nft_card_bottom{
    width: 98%;
    height: 100px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    border-radius: 10px 10px 30px 30px;
    padding: 30px;
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
 
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes fadeInFromBelow {
  from {
    opacity: 0.5;
    transform: translate3d(0, 1500px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
